@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Backround */
    --bg-color: hsl(0, 0%, 95%);
    --bg-dark-color: hsl(0, 0%, 90%);
    --bg-light-color: hsl(0, 0%, 100%);
    --yellow: hsl(51 100% 57.2%);
    --yellow-mid: hsl(51 100% 65%);
    --yellow-light: hsl(51 100% 75%);
    --yellow-lighter: hsl(51 100% 85%);
    --border-color: hsl(0, 0%, 70%);
    --text-color: hsl(0, 0%, 5%);
    --muted-text-color: hsl(0, 0%, 40%);
    --shadow: hsla(0, 0%, 0%, 0.15);
    --shadow-hover: hsla(0, 0%, 0%, 0.20);
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg-dark-color);
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: scroll;
    overscroll-behavior: none;
    height: 100vh;
}

header {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    height: 132.5px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 6px 5px var(--shadow);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    color: var(--text-color);
    font-family: 'Sour Gummy';
    font-weight: 300;
    font-size: clamp(25px, 5vw, 32px);
    margin: 15px 0px 10px 15px;
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 5px 5px 5px 10px;
}

header nav li {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 15px 15px;
    font-family: 'Sour Gummy';
    margin: 0;
    width: auto;
    transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
}

header nav li:hover {
    box-shadow: 0px 4px 10px var(--shadow-hover);
    background-color: var(--yellow-light);
    transform: translateY(-4px);
}

header nav li:active {
    background-color: var(--yellow-lighter);
}

.activated {
    box-shadow: 0px 4px 10px var(--shadow-hover);
    background-color: var(--yellow-lighter);
    transform: translateY(-4px);
}

header nav svg {
    width: 25px;
    height: 25px;
    stroke-width: 2;
}

header nav li {
    font-size: 20px;
}

section {
    display: none;
}

section.active {
    display: block;
    animation: fadeInFromTop 1s ease forwards;
}

#home {
    margin-top: 152.5px;
    margin-left: 20px;
    display: none;
}

#home img {
    width: calc(40vw - 10px);
    border-radius: 10px;
    box-shadow: 0px 5px 6px 3px var(--shadow);
    transition: box-shadow 0.2s ease;
}

#home div {
    width: calc(100vw - (40vw - 10px));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home div h1 {
    font-size: 2.5vw;
    font-family: 'Sour Gummy';
    width: 50vw;
}

#home div p {}

#home img:hover {
    box-shadow: 0px 6px 6px 5px var(--shadow);
}

.spacer {
    width: 100vw;
    height: 132.5px;
    background-color: var(--bg-color);
}

#menu {
    position: relative;
}

#menu nav {
    border-top: 2px solid var(--text-color);
    display: flex;
    align-items: center;
    padding-top: 5px;
    background-color: var(--bg-color);
    box-shadow: 0px 6px 5px var(--border-color);
    margin-top: -8px;
    padding-top: 10px;
    border-radius: 0px 0px 10px 10px;
    z-index: 10;
}

#menu nav h1 {
    position: relative;
    font-family: "Sour Gummy";
    font-size: 30px;
    padding: 0;
    margin: 10px;
    font-weight: 300;
}

#menu nav h1::after {
    content: "";
    position: absolute;
    right: -20.5px;
    top: -25px;
    width: 2px;
    height: 80px;
    background: black;
}

#menu nav ul {
    height: 70px;
    gap: 15px;
    padding: 0;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    list-style: none;
}

#menu nav ul svg {
    width: 25px;
    height: 25ps;
    stroke-width: 2;
}

#menu nav ul li {
    border-radius: 25px;
    padding: 2.5px 10px;
    gap: 3px;
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
    font-family: 'Sour Gummy';
    font-size: 20px;
    transition: background 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
}

#menu nav ul li:hover {
    background-color: var(--yellow-mid);
    box-shadow: 0px 5px 6px var(--shadow);
    transform: translateY(-4px);
}

#menu nav ul li:active {
    background-color: var(--yellow-lighter);
}

.item-containers {
    margin: 10px 0px 0px 0px;
    width: 100vw;
    height: auto;
    display: none;
    flex-wrap: wrap;
    position: relative;
}

.item {
    background-color: var(--bg-color);
    width: calc(20% - 24px);
    height: clamp(200px, 30vw, 480px);
    border-radius: 10px;
    box-shadow: 0px 4px 5px 3px var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 2px solid var(--yellow);
    margin: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    z-index: 1;
}

.categoryactivated {
    margin: 10px 0px 0px 0px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: fadeInFromTop 1s ease forwards;
}

#menu nav ul li.itemactivated {
    background-color: var(--yellow-mid);
    box-shadow: 0px 5px 6px var(--shadow);
    transform: translateY(-4px);
}

.item:hover {
    transform: scale(103%);
    box-shadow: 0px 5px 6px 5px var(--border-color);
}

.item img {
    width: calc(20vw - 24px);
    height: calc(20vw - 24px);
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid var(--yellow);
    object-fit: cover;
    background-position: center;
}

.item div {
    width: 100%;
}

.item h1 {
    font-family: 'Sour Gummy';
    font-size: clamp(25px, 5vw, 28px);
    font-weight: 450;
    margin: 20px 0px 0px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item h2 {
    font-family: 'Sour Gummy';
    font-size: clamp(17.5px, 2vw, 20px);
    font-weight: 450;
    margin: 0px 0px 0px 5px;
}

#catnav2button {
    width: clamp(30px, 12.5vw, 80px);
    height: clamp(30px, 12.5vw, 80px);
    position: fixed;
    right: 0;
    top: 142.5px;
    margin-right: 10px;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0px 5px 5px 3px var(--shadow);
    transition: transform 0.25s ease, background-color 0.25s ease, box-shadow 0.25s ease;
    z-index: 50;
    display: none;
}

#catnav2button:hover {
    background-color: var(--yellow-light);
    box-shadow: 0px 6px 6px 5px var(--shadow);
    transform: scale(105%);
}

#catnav2button svg {
    width: clamp(20px, 6vw, 40px);
    height: clamp(20px, 6vw, 40px);
    stroke-width: 2;
}

#catnav2 {
    position: fixed;
    top: 132.5px;
    right: -400px;
    display: none;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 152.5px);
    width: clamp(200px, 75vw, 350px);
    background-color: var(--bg-color);
    border-radius: 10px 0px 0px 10px;
    border: 2px solid var(--text-color);
    margin-top: 10px;
    z-index: 50;
    transition: right 0.5s ease;
}

#catnav2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--text-color);
    width: 100%;
    height: 90px;
}

#catnav2 div button {
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 25px;
}

#catnav2 div button:hover {
    background-color: var(--yellow-light);
}

#catnav2 div h1 {
    position: relative;
    font-family: "Sour Gummy";
    font-size: clamp(20px, 5vw, 30px);
    padding: 0;
    margin: 10px;
    font-weight: 300;
    width: auto;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    margin-right: 25px;
}

#catnav2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 20px 0px 0px 0px;
    padding: 0;
    width: 80%;
    height: calc(100dvh - 152.5px);
}

#catnav2 ul svg {
    width: 25px;
    height: 25ps;
    stroke-width: 2;
}

#catnav2 ul li {
    border-radius: 25px;
    padding: 2.5px 10px;
    gap: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    font-family: 'Sour Gummy';
    font-size: 20px;
    transition: background 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
}

#catnav2 ul li.itemactivated2 {
    background-color: var(--yellow-mid);
    box-shadow: 0px 5px 6px var(--shadow);
    transform: translateY(-4px);
}

#catnav2 ul li:hover {
    background-color: var(--yellow-mid);
    box-shadow: 0px 5px 6px var(--shadow);
    transform: translateY(-4px);
}

#catnav2 ul li:active {
    background-color: var(--yellow-lighter);
}

.hide-catnav2 {
    display: none !important;
}

@media (max-width: 900px) {
    #menu nav {
        display: none;
    }

    #catnav2button {
        display: inline-block;
    }

    #catnav2 {
        display: flex;
    }
}

@media (max-width: 800px) {
    .item {
        width: 44vw;
        height: 65vw;
    }

    .item img {
        width: 44.5vw;
        height: 44.5vw;
    }
}

@media (max-width: 400px) {
    .item {
        width: 90vw;
        height: 150vw;
    }

    .item img {
        width: 90vw;
        height: 90vw;
    }
}

@keyframes fadeInFromTop {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
