@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Backround */
    --bg-color: hsl(0, 0%, 95%);
    --bg-dark-color: hsl(0, 0%, 90%);
    --bg-light-color: hsl(0, 0%, 100%);
    --yellow: hsl(51 100% 57.2%);
    --yellow-mid: hsl(51 100% 65%);
    --yellow-light: hsl(51 100% 75%);
    --yellow-lighter: hsl(51 100% 85%);
    --border-color: hsl(0, 0%, 70%);
    --text-color: hsl(0, 0%, 5%);
    --muted-text-color: hsl(0, 0%, 40%);
    --shadow: hsla(0, 0%, 0%, 0.15);
    --shadow-hover: hsla(0, 0%, 0%, 0.20);
}

body {
    background-color: var(--bg-dark-color);
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    height: 132.5px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 6px 5px var(--shadow);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    color: var(--text-color);
    font-family: 'Sour Gummy';
    font-weight: 300;
    margin: 15px 0px 10px 15px;
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 5px 5px 5px 10px;
}

header nav li {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 15px 15px;
    font-family: 'Sour Gummy';
    margin: 0;
    width: auto;
    transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
}

header nav li:hover {
    box-shadow: 0px 4px 10px var(--shadow-hover);
    background-color: var(--yellow-light);
    transform: translateY(-4px);
}

header nav li:active {
    background-color: var(--yellow-lighter);
}

.activated {
    box-shadow: 0px 4px 10px var(--shadow-hover);
    background-color: var(--yellow-lighter);
    transform: translateY(-4px);
}

header nav svg {
    width: 25px;
    height: 25px;
    stroke-width: 2;
}

header nav li {
    font-size: 20px;
}

#menu {
    margin: 132.5px 0px 0px 0px;
}

#menu nav {
    display: flex;
    align-items: center;
    padding-top: 5px;
    background-color: var(--bg-color);
    box-shadow: 0px 6px 5px var(--border-color);
    border-radius: 10px;
}

#menu nav h1 {
    position: relative;
    font-family: "Sour Gummy";
    font-size: 30px;
    padding: 0;
    margin: 10px;
    font-weight: 300;
}

#menu nav h1::after {
    content: "";
    position: absolute;
    right: -20.5px;
    top: -20px;
    width: 2px;
    height: 75px;
    background: black;
}

#menu nav ul {
    height: 70px;
    gap: 15px;
    padding: 0;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    list-style: none;
}

#menu nav ul svg {
    width: 25px;
    height: 25ps;
    stroke-width: 2;
}

#menu nav ul li {
    border-radius: 25px;
    padding: 2.5px 10px;
    gap: 3px;
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
    font-family: 'Sour Gummy';
    font-size: 20px;
    transition: background 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
}

#menu nav ul li:hover {
    background-color: var(--yellow-mid);
    box-shadow: 0px 5px 6px var(--shadow);
    transform: translateY(-4px);
}

#menu nav ul li:active {
    background-color: var(--yellow-lighter);
}
